<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <!-- nav header -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="/">Landing Page</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav ">
                <li class="nav-item px-2">
                    <a class="nav-link" href="/users/d/dashboard">Home</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item dropdown px-2">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Books
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Create</a>
                        <a class="dropdown-item" href="/users/d/books/all">All Books</a>
                    </div>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="nav-item px-2">
                    <form action="/" method="post">
                        <button type="submit" class="btn btn-danger">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>

    <div class="space" style="height: 60px;"></div>

    <!-- page content -->

    <div class="row justify-content-center mt-4">
        <div class="col-md-6">
            <h2>Update Book</h2>
            <p>Fil fields to update. Empty fields will not update</p>
            <form method="post">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="Enter book title" required>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea name="description" id="description" cols="30" rows="3" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label for="publisher">Publisher</label>
                    <input type="text" class="form-control" id="publisher" name="publisher" placeholder="Enter publisher" required>
                </div>
                <div class="form-group">
                    <label for="pageCount">Page Count</label>
                    <input type="number" class="form-control" id="pageCount" name="pageCount" placeholder="1" required>
                </div>
                <div class="form-group">
                    <label for="genre">Genre</label>
                    <input type="text" class="form-control" id="genre" name="genre" placeholder="Enter book genre" required>
                </div>
                <div class="form-group">
                    <label for="datePublished">Date Published</label>
                    <input type="date" class="form-control" id="datePublished" name="datePublished" required>
                </div>
                <button type="submit" class="btn btn-primary">Add Book</button>
            </form>
        </div>
    </div>


    

    <!-- end of page content  -->

        <div class="space" style="height: 80px;"></div>

        <!-- footer  -->
        
        <footer class="text-center fixed-bottom bg-light">
            <hr>
            <p>&copy; 2023 Your Company. All rights reserved.</p>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
